body {
	display: flex;
	flex-direction: column;
	gap: 25px;
	color: #f2e9e4;
	background-color: #22223B;
	text-align: center;
	width: auto;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 520px;
}

.header{
	display: inherit;
	background-color: #4a4e69;
	height: 75px;
	flex-direction: row;
	font-family: inherit;
}

.headerText{
	padding: 0px 10px;
	display: inherit;
	align-self: center;
	font-family: inherit;
	font-size: 42;
}

.title {
	font-family: inherit;
	font-size: 34px;
	color: #F2E9E4;
}

.btnContainer {
	display: inherit;
	align-items: center;
	gap: 50px;
	justify-content: center;
	height: 60px;
}

.btn {
	font-family: inherit;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	color: #22223b;
	height: 50px;
	width: 100px;
	background-color: #C9ADA7;
}

.turnContainer {
	min-width: inherit;
	display: inherit;
	gap: 50px;
	height: 75px;
	background-color: #4a4e69;
	flex-direction: column;
	justify-content: space-around;
}

.content {
	min-width: inherit;
	font-family: inherit;;
	color: inherit;
	display: inherit;
	align-self: center;
	font-size: 32px;
	justify-content: space-around;
}
